.main-content {
  height: 94vh;
  background-color: #C1C4CD;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.link {
  text-decoration: none;
}

.main-text {
  margin: auto;
  padding-top: 40vh;
  width: 450px;
  color: white;
  font-size: 40px;
  font-family: 'Quantico', sans-serif;
}
